<h1>Pipe Demo And Routing</h1>

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="home">Home</a>
        
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="aboutus">About Us</a>
        
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="contactus">Contact Us</a>
        
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="user">User</a>
        
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="test">Test</a>
        
    </li>
</ul>
<router-outlet></router-outlet>